<div class="container">
    <div class="row">
        <div class="lhs">
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="rhs">
            <ul>
                <li><a href="tel:+9704462944"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;+01 5312
                        5312</a></li>
                <li><a href="mailto:info@example.com"><i class="fa fa-envelope-o"
                            aria-hidden="true"></i>&nbsp; help@company.com</a></li>
                <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>